<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="rfbUser">
      <h2 data-cy="rfbUserDetailsHeading"><span>Rfb User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ rfbUser.id }}</span>
        </dd>
        <dt><span>Username</span></dt>
        <dd>
          <span>{{ rfbUser.username }}</span>
        </dd>
        <dt><span>Home Location</span></dt>
        <dd>
          <div *ngIf="rfbUser.homeLocation">
            <a [routerLink]="['/rfb-location', rfbUser.homeLocation?.id, 'view']">{{ rfbUser.homeLocation?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/rfb-user', rfbUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
